.wrapper-header{
    background-color: #93c47d;
}

.content{
    padding: 5px 10px 0px 10px;
    &__img {
        padding-left: 20px;
        img{
            width: 130px;
        }
    }
    &__label{
        font-size: 17px;
    }
}

.menu{
    ul{
        background-color: #93c47d;
        list-style-type: none;
        text-align: center;
        width: 100%;
    }
    li{
        float: left;
        width: 135px;
        height: 40px;
        line-height: 40px;
        color: white;
        font-weight: bold;
        .link{
            color: #f1f1f1;
            font-size: 16px;
        }
        .link:hover{
            color: black;
            cursor: pointer;
        }
    }
}

.func{
    height: 60px;
}

.search-left{
    margin-top: 10px;
    &__input{
        width: 600px;
    }
}

.sub-func{
    text-align: center;
    margin-top: 12px;
    
    &__login{
        font-size: 16px;
        margin-right: 60px; 
        cursor: pointer;
        color: #ffffff;
    }
    &__login:hover{
        color: blue;
    }
}