body{
    background-color: #f0f2f5;
}

.wrapper-register {
    margin: 0px auto;
    padding: 1px 140px 5px 140px;
}

.form-right{
    background-color: #ffffff;
    padding: 0px 100px 0px 30px;
    &__content h1{
        color: #3278e4;
        margin: 20px 20px 10px 0px;
    }
}

.content-left{
    background-color: #0b7143;
    text-align: center;
    &__title h1{
        color: #ffffff;
        padding-top: 70px;
    }
    img{
        margin-top: 200px;
        cursor: pointer;
    }
}